---
import layout from '../layouts/BaseLayout.astro';
import Card from 'flowbite-svelte';
---

<layout title="About">
    <h2 class="text-4xl font-extrabold dark:text-white">Welcome to our Mixed Martial Arts (MMA) Club!</h2>
    <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400"> We are a community of fighters, enthusiasts, and fans dedicated to the dynamic and compelling world of MMA. Our club offers training in various martial arts disciplines such as Brazilian Jiu-Jitsu, Muay Thai, Boxing, and Wrestling, all under one roof. Our experienced trainers, state-of-the-art facilities, and inclusive environment make us the perfect place for both beginners and seasoned fighters. We believe in the power of martial arts to build strength, discipline, and confidence. Join us on this exciting journey and discover the fighter in you!</p>
    <hr/>
    <p class=" text-xl text-justify dark:text-gray-400">In our club, Judo holds a special place. It’s not just a martial art, but a journey towards self-improvement. Judo, which translates to “the gentle way,” emphasizes the efficient use of balance, leverage, and movement in the performance of throws and other skills. Our experienced instructors guide students through the art of throwing and grappling, teaching them to use their opponent’s force against them. Whether you’re interested in competition, self-defense, or simply improving your physical fitness, our Judo classes offer a unique and rewarding challenge. Come and experience the power of ‘the gentle way’ with us!</p>
</layout>